<template>
    <div class="row justify-content-center">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="float-right">
                        <button class="btn btn-primary" @click="showAddInvoiceModal">Add new</button>
                    </div>
                    <h3>Invoices</h3>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Create</th>
                                <th scope="col">No</th>
                                <th scope="col">Supply</th>
                                <th scope="col">Comment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(invoice, index) in invoices">
                                <th>{{ invoice.invoice_date }}</th>
                                <td>
                                    <button class="btn btn-link" @click="initInvoice(index)">
                                        {{ invoice.number }}
                                    </button>
                                </td>
                                <td>{{ invoice.supply_date }}</td>
                                <td>{{ invoice.comment }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addNewInvoice" tabindex="-1" role="dialog" aria-labelledby="addNewInvoiceLabel" aria-hidden="true">
            <form @submit.prevent="storeInvoice()">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addNewInvoiceLabel">Create invoice</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                                <div class="form-group">
                                    <label for="invoice-number" class="col-form-label">Number:</label>

                                    <span v-if="errors.number" class="invalid-feedback">
                                        <strong>{{errors.number ? errors.number[0] : '' }}</strong>
                                    </span>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="invoice-number" v-model="invoice.number" :class="{'is-invalid': errors.number }" aria-describedby="basic-addon2" disabled>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" @click="refreshInvoiceNumber">Refresh</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-12 col-md-6">
                                        <label for="invoice_date" class="col-form-label">Invoice date:</label>
                                        <input type="date" class="form-control" id="invoice_date" v-model="invoice.invoice_date" :class="{'is-invalid': errors.invoice_date }">
                                        <span v-if="errors.invoice_date" class="invalid-feedback">
                                            <strong>{{errors.invoice_date ? errors.invoice_date[0] : '' }}</strong>
                                        </span>
                                    </div>
                                    <div class="form-group col-12 col-md-6">
                                        <label for="supply-date" class="col-form-label">Supply date:</label>
                                        <input type="date" class="form-control" id="supply-date" v-model="invoice.supply_date" :class="{'is-invalid': errors.supply_date }">
                                        <span v-if="errors.supply_date" class="invalid-feedback">
                                            <strong>{{errors.supply_date ? errors.supply_date[0] : '' }}</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="comment" class="col-form-label">Comment:</label>
                                    <textarea class="form-control" v-model="invoice.comment"></textarea>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal fade" id="updateInvoice" tabindex="-1" role="dialog" aria-labelledby="updateInvoiceLabel" aria-hidden="true">
            <form @submit.prevent="updateInvoice()">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updateInvoiceLabel">Edit invoice {{update_invoice.number}}</h5>
                            <button type="button" class="btn btn-danger btn-sm ml-3" @click="handleDelete(update_invoice.id)">Delete</button>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                                <div class="form-group">
                                    <label for="update-invoice-number" class="col-form-label">Number:</label>
                                    <input type="text" class="form-control" id="update-invoice-number" v-model="update_invoice.number" :class="{'is-invalid': errors.number }" disabled>
                                    <span v-if="update_errors.number" class="invalid-feedback">
                                        <strong>{{update_errors.number ? update_errors.number[0] : '' }}</strong>
                                    </span>
                                </div>
                                <div class="row">
                                    <div class="form-group col-12 col-md-6">
                                        <label for="update-invoice-date" class="col-form-label">Invoice date:</label>
                                        <input type="date" class="form-control" id="update-invoice-date" v-model="update_invoice.invoice_date" :class="{'is-invalid': update_errors.invoice_date }">
                                        <span v-if="update_errors.invoice_date" class="invalid-feedback">
                                            <strong>{{update_errors.invoice_date ? update_errors.invoice_date[0] : '' }}</strong>
                                        </span>
                                    </div>
                                    <div class="form-group col-12 col-md-6">
                                        <label for="update-supply-date" class="col-form-label">Supply date:</label>
                                        <input type="date" class="form-control" id="update-supply-date" v-model="update_invoice.supply_date" :class="{'is-invalid': update_errors.supply_date }">
                                        <span v-if="update_errors.supply_date" class="invalid-feedback">
                                            <strong>{{update_errors.supply_date ? update_errors.supply_date[0] : '' }}</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Comment:</label>
                                    <textarea class="form-control" v-model="update_invoice.comment"></textarea>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                invoices: [],
                invoice: {
                    number: '',
                    invoice_date: '',
                    supply_date: '',
                    comment: '',
                },
                update_invoice: {},
                errors: {},
                update_errors: {},
            };
        },
        mounted() {
            this.getInvoices();
        },
        methods: {
            getInvoices() {
                axios.get('/invoices')
                    .then((res) => {
                        this.invoices = res.data.invoices;
                    });
            },

            generateInvoiceNumber() {
                let last = this.invoices[this.invoices.length - 1];
                if (last) {
                    let num = last.id + 1;
                    this.invoice.number = 'INV-' + this.padLeft(num, 6);
                } else {
                    this.invoice.number = 'INV-' + this.padLeft(1, 6);
                }
            },

            refreshInvoiceNumber() {
                this.getInvoices();
                this.generateInvoiceNumber();
            },

            padLeft(nr, n, str) {
                return Array(n-String(nr).length+1).join(str||'0')+nr;
            },

            showAddInvoiceModal() {
                this.generateInvoiceNumber();
                $('#addNewInvoice').modal('show');
            },

            storeInvoice() {
                axios.post('/invoices', this.invoice)
                    .then((res) => {
                        if (res.status == 201) {
                            this.clearAddModal();
                            $('#addNewInvoice').modal('hide');
                            this.getInvoices();
                        }
                    })
                    .catch((err) => {
                        if (err.response) {
                            if (err.response.status === 422) {
                                this.errors = err.response.data.errors
                            } else if (err.response.status === 403) {
                                this.notPermission();
                            }
                        }
                    });
            },

            clearAddModal() {
                this.invoice = {
                    number: '',
                    invoice_date: '',
                    supply_date: '',
                    comment: '',
                }
                this.errors = [];
            },

            initInvoice(index) {
                this.update_errors = {};
                this.update_invoice = this.invoices[index];
                $('#updateInvoice').modal('show');
            },

            updateInvoice() {
                axios.put(`/invoices/${this.update_invoice.id}`, this.update_invoice)
                    .then((res) => {
                        if (res.status == 202) {
                            this.clearUpdateModal();
                            $('#updateInvoice').modal('hide');
                            this.getInvoices();
                        }
                    })
                    .catch((err) => {
                        if (err.response) {
                            if (err.response.status === 422) {
                                this.errors = err.response.data.errors
                            } else if (err.response.status === 403) {
                                this.notPermission();
                            }
                        }
                    });
            },

            clearUpdateModal() {
                this.update_errors = {}
                this.update_invoice = {};
            },
            handleDelete(id) {
                Swal.fire({
                    title: 'Are you sure you want to delete?',
                    text: '',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'No',
                }).then((result) => {
                    if (result.value) {
                        this.deleteInvoice(id);
                    }
                });
            },
            deleteInvoice(id) {
                axios.delete(`/invoices/${id}`)
                    .then((res) => {
                        if (res.status == 204) {
                            this.clearUpdateModal();
                            $('#updateInvoice').modal('hide');
                            this.getInvoices();
                        }
                    })
                    .catch((err) => {
                        if (err.response) {
                            if (err.response.status === 403) {
                                this.notPermission();
                            }
                        }
                    });
            },
            notPermission() {
                Swal.fire('Отказано в доступе', 'У вас нет разрешения на доступ', 'error')
                    .then((ok) => {
                        if (ok) {
                            window.location.replace('/login')
                        }
                    });
            }
        }
    }
</script>
